
.sp{
  @include flex(center, space-between, row);
  width: 100%;
}

.col{@include flex(flex-start, flex-start, column-reverse);
}

.node{
  transform: scale(0.75);
}

.node:not(:first-child){
  margin-bottom: -12px;
  transform: scale(0.75);
}

.second-screen{
  transform: translateX(-10px) scale(1.2);
}

.license-img{
  transform: scale(0.8);
}
.hourglass{
    animation: rotate 2000ms ease-in-out 1100ms infinite;
    animation-direction: normal;
    transform-origin: 50% 50%;
}

.coin-holder{
  @include flex(center, center, column-reverse);
  overflow: hidden;
  @include transition(all);
}

.coin{
  @include size(auto, 70px);
}

.second-view{
  transform: scale(0.8)!important;
}

.coin-shadow{
  display: block;
  background-color: $border-color-3;
  @include size(70px,70px);
  transform:rotateX(55deg);
  border-radius: 3pc;
  opacity: 0.6;
}

.coin-image h2, .coin-image p{
  text-align: center;
  line-height: 1.5 !important;
  margin-bottom: 0  !important;
}

.coin-image .sp{
  @include flex(center, center, row);
  margin-bottom: 30px;
}

.coin:nth-child(2){
  transform: translateY(-200px);
  margin-left: 2px;
  animation: floata 2000ms cubic-bezier(.16,.01,.58,1)  600ms forwards;
  margin-bottom: -45px;
}
.coin:nth-child(3){
  transform: translateY(-200px);
  margin-left: -2px;
  animation: floatb 2000ms cubic-bezier(.36,.01,.58,1)  620ms forwards;
  margin-bottom: -30px;
}
.coin:nth-child(4){
  transform: translateY(-200px);
  margin-left: 2px;
  animation: floatc 2000ms cubic-bezier(.48,.01,.58,1)  640ms forwards;
  margin-bottom: -30px;
}
.coin:nth-child(5){
  transform: translateY(-200px);
  margin-left: -2px;
  animation: floatd 2000ms cubic-bezier(.5,.08,.68,.61) 650ms forwards;
  margin-bottom: -35px;
}

@keyframes floata {
  20%{ transform: rotate(10deg) translatey(0px);}
  25% { transform: rotate(2deg) translatey(5px);}
  100% { transform: rotate(2deg) translatey(5px);}

}
@keyframes floatb{
  20%{ transform:rotate(-3deg)  translatey(0px);}
  25% { transform: rotate(1deg) translatey(8px); }
  100% { transform:rotate(1deg)  translatey(8px); }

}
@keyframes floatc{
  20%{ transform: rotate(-4deg) translatey(0px);}
  25% { transform: rotate(-1deg) translatey(9px); }
  100% { transform: rotate(-1deg) translatey(9px); }

}
@keyframes floatd{
  20%{ transform: rotate(7deg) translatey(0px);}
  25% { transform: rotate(0deg) translatey(8px); }
  100% { transform: rotate(0deg) translatey(8px); }
}
