
.card{
  position: relative;
}

.card-header{
  @include size(40px,100%);
  @include flex(center, space-between, row);
  padding: 8px 20px;
  position: absolute;
  top:0;
  border-bottom: 1px solid $border-color-3;
  h5{
    font:$h3;
  }
}

.card-footer{
  border-top: 1px solid $border-color-3;
  padding: 20px;
  height: 32px;
  border-color: $border-color-3;
  width: calc(100% - 40px);
  bottom: 6px;
  left: 0;
  justify-content: center !important;
  kbd{
    position: relative;
    &:before{
      content:'·';
      color:transparent;
      height: 6px;
      width: 6px;
      display: block;
      left: -15px;
      top: 2px;
      position: absolute;
      border-radius: 4pc;
      background-color: $blue-1;
    }
    &:nth-child(2):before{
      background-color: $blue-3;
    }
    &:nth-child(3):before{
      background-color: #8A77ED;
    }
  }
}

.used-coins{
  @include size(6px, 47%);
  position: relative;
  background-color: $blue-1;
  border-radius: 1px 0 0 1px;
  &:before{
    content: '50% used';
    position: absolute;
    top:-25px;
    left: 0;
  }

  // &:after{
  //   content: '160';
  //   position: absolute;
  //   top:-25px;
  //   right:0;
  // }
}

.free-coins{
  @include size(6px, 50%);
  margin-top: -20px;
  background-color: $blue-3;
  border-radius: 0 1px 1px 0;
}

.row{
  @include flex(center, space-between, row);
  margin-top: 0 !important;
  padding: 0 20px;
}

.cb-right{
  @include flex(flex-start, flex-start, column);
  > * { margin-bottom: 10px; }
  a:hover{color:$blue-1;}
}

.cb-left{
  display: flex;
  flex-grow: 1;
  margin-top: -20px;
  align-items: center;
  flex-direction: column-reverse !important;
  > * {
    margin-bottom: -20px;
  }
}

.dropdown{
  position: relative;
  margin-right: 12px;
  &::before {
    content: '';
    @include size(8px, 4px);
    position: absolute;
    background: url('../img/double-arrow.svg');
    display: block;
    top:0;
    right:-12px;
  }
}

.card-body{
  padding: 20px;
  // margin-top: 40px;
  height: 100%;
  table{
    width: 100%;
  }
  td{
    border-bottom: 1px solid $border-color-3;
  }
}

.coin-body{
  @include flex(center, space-between, row);
}

.widget-img{
  margin: 10px;
  border-radius: 4px;
  @include transition(shadow);

  &:hover{
    @include shadow();
  }
}

.graph{
  &:hover{
    cursor: pointer;
  }
}

//media
@media (max-width: 1024px) {
  .card {
    width: calc(50% - 10px);
  }
}
